
.grid {
    position: absolute;
    width: 570px;
    height: 300px;
    border: solid black 1px;
}

.block {
    position: absolute;
    width: 100px;
    height: 20px;
    background-color: blueviolet;
}

.user {
    position: absolute;
    width: 100px;
    height: 20px;
    background-color: rgb(21, 184, 75);
}

.ball {
    position: absolute;
    width: 20px;
    height: 20px;
    border-radius: 10px;
    background-color: rgb(235, 31, 31);
}